.text{
    color: red;
    text-align: center;
}

.img{
    margin-left: 35px;
    top: 25%;  
}

.myDiv{
    background-color: #F9F9F9;
    
}

.containerDiv{
    margin-top: 40px;
    background-color: #F9F9F9;
    color: crimson;
    text-align: center;

}
