

<ion-content>

  <br>

  <br>
  <br>
  <div id="myDiv">

    <img class="img" src="../../assets/img/Gracias por tu compra.jpeg" width="200px"/>
  

   

  </div>

  <div class="containerDiv">

    <h6 style="font-style: italic;"> SE VERIFICARÁ SU COMPROBANTE
      SI ES SATISFACTORIO,
      SU COMPRA LLEGARÁ EN 2 HORAS,
      ESTAREMOS EN CONTACTO USTED.
    
    </h6>
    <br>
    <h6 style="font-style: italic; font-weight: bold;">Cualquier duda o cunsulta comuniquese con nosotros al numero +51 923 542 278</h6>
  </div>
    <ion-button color="primary" style="margin-left: 45px;" (click)="redirigir()">Volver a comprar</ion-button>
</ion-content> 
